# **Preparación de datos previa a proceso de modelado**

## **Librerías**

In [1]:
from modeling_auxiliary_functions import (add_sin_cos_transforms, 
                                          create_hourly_features,
                                          create_weekly_features
                                 )
import warnings
import pandas as pd
import datetime as dt

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)
warnings.filterwarnings('ignore')

## **Transformaciones**

###
**Lectura y unión de datasets**

In [3]:
df = pd.read_pickle('dataset.pkl')
print("Shape:", df.shape)
df.head(3)

Shape: (35060, 71)

,time,temp_Barcelona,temp_Bilbao,temp_Madrid,temp_Seville,temp_Valencia,temp_min_Barcelona,temp_min_Bilbao,temp_min_Madrid,temp_min_Seville,temp_min_Valencia,temp_max_Barcelona,temp_max_Bilbao,temp_max_Madrid,temp_max_Seville,temp_max_Valencia,pressure_Barcelona,pressure_Bilbao,pressure_Madrid,pressure_Seville,pressure_Valencia,humidity_Barcelona,humidity_Bilbao,humidity_Madrid,humidity_Seville,humidity_Valencia,wind_speed_Barcelona,wind_speed_Bilbao,wind_speed_Madrid,wind_speed_Seville,wind_speed_Valencia,wind_deg_Barcelona,wind_deg_Bilbao,wind_deg_Madrid,wind_deg_Seville,wind_deg_Valencia,rain_1h_Barcelona,rain_1h_Bilbao,rain_1h_Madrid,rain_1h_Seville,rain_1h_Valencia,rain_3h_Barcelona,rain_3h_Bilbao,rain_3h_Madrid,rain_3h_Seville,rain_3h_Valencia,snow_3h_Barcelona,snow_3h_Bilbao,snow_3h_Madrid,snow_3h_Seville,snow_3h_Valencia,clouds_all_Barcelona,clouds_all_Bilbao,clouds_all_Madrid,clouds_all_Seville,clouds_all_Valencia,generation_biomass,generation_fossil_brown_coal/lignite,generation_fossil_gas,generation_fossil_hard_coal,generation_fossil_oil,generation_hydro_pumped_storage_consumption,generation_hydro_run-of-river_and_poundage,generation_hydro_water_reservoir,generation_nuclear,generation_other,generation_other_renewable,generation_solar,generation_waste,generation_wind_onshore,total_load_actual
0,2015-01-01 00:00:00,281.625,269.657312,267.325000,273.375,270.475,281.625,269.657312,267.325,273.375,270.475,281.625,269.657312,267.325000,273.375,270.475,1035.000000,1070.205106,1070.205106,1070.205106,1001.0,100.0,97.0,63.0,75.0,77.0,7.0,0.0,1.0,1.0,1.0,58.0,226.0,309.0,21.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,447.0,329.0,4844.0,4821.0,298.324249,863.0,1051.0,1899.0,7096.0,43.0,73.0,49.0,196.0,6378.0,25385.0
1,2015-01-01 01:00:00,281.625,269.763500,267.325000,273.375,270.475,281.625,269.763500,267.325,273.375,270.475,281.625,269.763500,267.325000,273.375,270.475,1035.000000,1035.000000,1070.205106,1070.205106,1001.0,100.0,97.0,63.0,75.0,77.0,7.0,0.0,1.0,1.0,1.0,58.0,229.0,309.0,21.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,449.0,328.0,5196.0,4755.0,298.324249,920.0,1009.0,1658.0,7096.0,43.0,71.0,50.0,195.0,5890.0,24382.0
2,2015-01-01 02:00:00,281.286,269.251688,289.708181,274.086,269.686,281.286,269.251688,266.186,274.086,269.686,281.286,269.251688,291.172867,274.086,269.686,1070.205106,1070.205106,1070.205106,1070.205106,1002.0,100.0,97.0,64.0,71.0,78.0,7.0,1.0,1.0,3.0,0.0,48.0,224.0,273.0,27.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,448.0,323.0,4857.0,4581.0,298.324249,1164.0,973.0,1371.0,7099.0,43.0,73.0,50.0,196.0,5461.0,22734.0

###
**Transformaciones de representación de perídos pasados**

In [7]:
def prepare_predictor_dataframe(df, start_timestamp, end_timestamp, execution_timestamp):
    dr = pd.date_range(start_timestamp, end_timestamp, freq="H")
    columns = df.columns.tolist()
    columns.remove("time")

    row_list = []
    for date in dr:
        date = date.to_pydatetime()
        weekly_df = create_weekly_features(df, date, 4, columns)
        hourly_df = create_hourly_features(df, date, execution_timestamp, 4, columns)
        row_df = pd.merge(weekly_df, hourly_df, how="inner", on="time")
        row_list.append(row_df)

    predictor_dataframe = pd.concat(row_list)
    return predictor_dataframe


def get_predictions_timestamps(date, offer_type):

    if anticipation_hours == 36:
        execution_timestamp = date - dt.timedelta(hours=12)
    elif anticipation_hours == 24:
        execution_timestamp = date - dt.timedelta(hours=1)
    elif anticipation_hours == 12:
        execution_timestamp = date + dt.timedelta(hours=12)

        start_timestamp = execution_timestamp + dt.timedelta(hours=1)
        start_timestamp = execution_timestamp + dt.timedelta(hours=1)


def prepare_predictor_dataframe_set(df, start_date, end_date, anticipation_hours):
    dr = pd.date_range(start_date, end_date, freq="D")

    predictor_dataframe_list = []
    for date in dr:
        date = date.to_pydatetime()

        prepare_predictor_dataframe(df, dt.datetime(2018,6,2,0), dt.datetime(2018,6,2,23), dt.datetime(2018,6,1,23))

,time,avg_temp_Barcelona_4w,avg_temp_Bilbao_4w,avg_temp_Madrid_4w,avg_temp_Seville_4w,avg_temp_Valencia_4w,avg_temp_min_Barcelona_4w,avg_temp_min_Bilbao_4w,avg_temp_min_Madrid_4w,avg_temp_min_Seville_4w,avg_temp_min_Valencia_4w,avg_temp_max_Barcelona_4w,avg_temp_max_Bilbao_4w,avg_temp_max_Madrid_4w,avg_temp_max_Seville_4w,avg_temp_max_Valencia_4w,avg_pressure_Barcelona_4w,avg_pressure_Bilbao_4w,avg_pressure_Madrid_4w,avg_pressure_Seville_4w,avg_pressure_Valencia_4w,avg_humidity_Barcelona_4w,avg_humidity_Bilbao_4w,avg_humidity_Madrid_4w,avg_humidity_Seville_4w,avg_humidity_Valencia_4w,avg_wind_speed_Barcelona_4w,avg_wind_speed_Bilbao_4w,avg_wind_speed_Madrid_4w,avg_wind_speed_Seville_4w,avg_wind_speed_Valencia_4w,avg_wind_deg_Barcelona_4w,avg_wind_deg_Bilbao_4w,avg_wind_deg_Madrid_4w,avg_wind_deg_Seville_4w,avg_wind_deg_Valencia_4w,avg_rain_1h_Barcelona_4w,avg_rain_1h_Bilbao_4w,avg_rain_1h_Madrid_4w,avg_rain_1h_Seville_4w,avg_rain_1h_Valencia_4w,avg_rain_3h_Barcelona_4w,avg_rain_3h_Bilbao_4w,avg_rain_3h_Madrid_4w,avg_rain_3h_Seville_4w,avg_rain_3h_Valencia_4w,avg_snow_3h_Barcelona_4w,avg_snow_3h_Bilbao_4w,avg_snow_3h_Madrid_4w,avg_snow_3h_Seville_4w,avg_snow_3h_Valencia_4w,avg_clouds_all_Barcelona_4w,avg_clouds_all_Bilbao_4w,avg_clouds_all_Madrid_4w,avg_clouds_all_Seville_4w,avg_clouds_all_Valencia_4w,avg_generation_biomass_4w,avg_generation_fossil_brown_coal/lignite_4w,avg_generation_fossil_gas_4w,avg_generation_fossil_hard_coal_4w,avg_generation_fossil_oil_4w,avg_generation_hydro_pumped_storage_consumption_4w,avg_generation_hydro_run-of-river_and_poundage_4w,avg_generation_hydro_water_reservoir_4w,avg_generation_nuclear_4w,avg_generation_other_4w,avg_generation_other_renewable_4w,avg_generation_solar_4w,avg_generation_waste_4w,avg_generation_wind_onshore_4w,avg_total_load_actual_4w,temp_Barcelona_avg_4h,temp_Bilbao_avg_4h,temp_Madrid_avg_4h,temp_Seville_avg_4h,temp_Valencia_avg_4h,temp_min_Barcelona_avg_4h,temp_min_Bilbao_avg_4h,temp_min_Madrid_avg_4h,temp_min_Seville_avg_4h,temp_min_Valencia_avg_4h,temp_max_Barcelona_avg_4h,temp_max_Bilbao_avg_4h,temp_max_Madrid_avg_4h,temp_max_Seville_avg_4h,temp_max_Valencia_avg_4h,pressure_Barcelona_avg_4h,pressure_Bilbao_avg_4h,pressure_Madrid_avg_4h,pressure_Seville_avg_4h,pressure_Valencia_avg_4h,humidity_Barcelona_avg_4h,humidity_Bilbao_avg_4h,humidity_Madrid_avg_4h,humidity_Seville_avg_4h,humidity_Valencia_avg_4h,wind_speed_Barcelona_avg_4h,wind_speed_Bilbao_avg_4h,wind_speed_Madrid_avg_4h,wind_speed_Seville_avg_4h,wind_speed_Valencia_avg_4h,wind_deg_Barcelona_avg_4h,wind_deg_Bilbao_avg_4h,wind_deg_Madrid_avg_4h,wind_deg_Seville_avg_4h,wind_deg_Valencia_avg_4h,rain_1h_Barcelona_avg_4h,rain_1h_Bilbao_avg_4h,rain_1h_Madrid_avg_4h,rain_1h_Seville_avg_4h,rain_1h_Valencia_avg_4h,rain_3h_Barcelona_avg_4h,rain_3h_Bilbao_avg_4h,rain_3h_Madrid_avg_4h,rain_3h_Seville_avg_4h,rain_3h_Valencia_avg_4h,snow_3h_Barcelona_avg_4h,snow_3h_Bilbao_avg_4h,snow_3h_Madrid_avg_4h,snow_3h_Seville_avg_4h,snow_3h_Valencia_avg_4h,clouds_all_Barcelona_avg_4h,clouds_all_Bilbao_avg_4h,clouds_all_Madrid_avg_4h,clouds_all_Seville_avg_4h,clouds_all_Valencia_avg_4h,generation_biomass_avg_4h,generation_fossil_brown_coal/lignite_avg_4h,generation_fossil_gas_avg_4h,generation_fossil_hard_coal_avg_4h,generation_fossil_oil_avg_4h,generation_hydro_pumped_storage_consumption_avg_4h,generation_hydro_run-of-river_and_poundage_avg_4h,generation_hydro_water_reservoir_avg_4h,generation_nuclear_avg_4h,generation_other_avg_4h,generation_other_renewable_avg_4h,generation_solar_avg_4h,generation_waste_avg_4h,generation_wind_onshore_avg_4h,total_load_actual_avg_4h
0,2018-06-02 00:00:00,281.444,281.110,278.124,281.538,282.340,280.55,278.95,277.75,280.75,281.55,282.35,283.75,278.55,282.75,283.15,1023.8,1026.800000,1027.8,1027.8,1025.4,79.2,88.0,90.6,87.0,78.8,3.8,1.0,0.8,1.2,2.600000,332.0,91.0,83.0,31.2,284.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,38.0,18.0,0.0,19.0,319.0,395.2,5176.8,3733.4,275.6,96.200000,1107.2,1702.2,6053.6,54.8,98.2,121.2,303.8,7227.8,27216.6,294.15,289.5975,294.68,294.785,294.9,293.9,288.15,292.15,293.9,294.9,294.4,291.4,296.4,296.15,294.9,1019.25,1019.75,1016.25,1015.5,1017.5,77.5,91.75,51.5,41.0,74.25,2.0,1.5,3.5,4.75,4.0,85.0,235.0,212.5,217.5,67.5,0.0,0.017328,0.017328,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,75.0,25.0,0.0,20.0,284.25,0.0,5409.25,1964.5,253.0,0.25,1300.5,2520.5,6080.0,52.0,98.0,22.5,346.5,9010.5,28695.0
0,2018-06-02 01:00:00,281.392,281.036,277.414,280.970,281.846,280.35,279.15,276.95,279.95,280.95,282.35,283.35,277.75,282.55,282.75,1023.8,1027.000000,1028.0,1028.0,1025.4,82.6,89.4,93.0,88.2,81.0,3.6,1.0,0.8,1.2,2.800000,256.0,113.0,160.0,17.8,274.0,0.0,0.013862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,30.4,26.0,0.0,12.0,316.6,354.0,4721.2,3456.6,271.4,211.200000,1072.4,1359.2,6053.0,54.6,97.8,110.2,302.2,7223.0,25299.8,294.15,289.5975,294.68,294.785,294.9,293.9,288.15,292.15,293.9,294.9,294.4,291.4,296.4,296.15,294.9,1019.25,1019.75,1016.25,1015.5,1017.5,77.5,91.75,51.5,41.0,74.25,2.0,1.5,3.5,4.75,4.0,85.0,235.0,212.5,217.5,67.5,0.0,0.017328,0.017328,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,75.0,25.0,0.0,20.0,284.25,0.0,5409.25,1964.5,253.0,0.25,1300.5,2520.5,6080.0,52.0,98.0,22.5,346.5,9010.5,28695.0
0,2018-06-02 02:00:00,280.442,281.038,276.948,280.494,281.750,279.35,279.15,276.75,279.55,280.75,281.55,283.35,277.15,281.95,282.75,1023.8,1026.400000,1027.8,1027.4,1025.2,81.2,88.6,91.8,88.2,82.4,4.6,1.4,0.8,1.2,2.200000,316.0,104.0,51.4,28.6,282.0,0.0,0.013862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,59.0,33.0,0.0,8.0,321.2,333.2,4513.4,3099.0,270.4,495.400000,1057.8,1026.0,6053.2,55.4,98.2,91.4,305.2,7169.0,23909.2,294.15,289.5975,294.68,294.785,294.9,293.9,288.15,292.15,293.9,294.9,294.4,291.4,296.4,296.15,294.9,1019.25,1019.75,1016.25,1015.5,1017.5,77.5,91.75,51.5,41.0,74.25,2.0,1.5,3.5,4.75,4.0,85.0,235.0,212.5,217.5,67.5,0.0,0.017328,0.017328,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,75.0,25.0,0.0,20.0,284.25,0.0,5409.25,1964.5,253.0,0.25,1300.5,2520.5,6080.0,52.0,98.0,22.5,346.5,9010.5,28695.0
0,2018-06-02 03:00:00,279.942,280.910,276.236,280.054,281.046,278.55,278.75,276.15,278.95,280.75,281.35,283.55,276.35,281.75,281.35,1024.0,1026.800000,1027.6,1027.4,1025.2,80.0,88.0,94.2,91.8,82.6,5.2,1.8,1.2,2.2,2.000000,324.0,146.0,268.0,21.8,220.0,0.0,0.013862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,32.8,33.0,0.0,4.0,323.2,319.8,4503.6,2929.2,267.8,469.484541,1050.8,959.2,6053.6,55.0,97.0,66.6,307.2,6993.8,23163.0,294.15,289.5975,294.68,294.785,294.9,293.9,288.15,292.15,293.9,294.9,294.4,291.4,296.4,296.15,294.9,1019.25,1019.75,1016.25,1015.5,1017.5,77.5,91.75,51.5,41.0,74.25,2.0,1.5,3.5,4.75,4.0,85.0,235.0,212.5,217.5,67.5,0.0,0.017328,0.017328,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,75.0,25.0,0.0,20.0,284.25,0.0,5409.25,1964.5,253.0,0.25,1300.5,2520.5,6080.0,52.0,98.0,22.5,346.5,9010.5,28695.0
0,2018-06-02 04:00:00,279.838,280.760,276.036,279.976,280.548,278.35,278.15,275.95,278.95,279.95,281.35,283.95,276.15,281.55,281.15,1024.0,1026.600000,1028.0,1027.4,1025.4,80.0,84.4,95.6,93.0,83.6,4.8,1.2,1.2,1.6,2.200000,322.0,58.0,270.0,26.0,200.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,45.2,33.0,0.0,4.0,314.4,312.6,4597.4,2832.4,266.8,538.684541,1054.6,907.2,6052.4,55.2,97.4,52.4,309.4,6852.4,22855.2,294.15,289.5975,294.68,294.785,294.9,293.9,288.15,292.15,293.9,294.9,294.4,291.4,296.4,296.15,294.9,1019.25,1019.75,1016.25,1015.5,1017.5,77.5,91.75,51.5,41.0,74.25,2.0,1.5,3.5,4.75,4.0,85.0,235.0,212.5,217.5,67.5,0.0,0.017328,0.017328,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,75.0,25.0,0.0,20.0,284.25,0.0,5409.25,1964.5,253.0,0.25,1300.5,2520.5,6080.0,52.0,98.0,22.5,346.5,9010.5,28695.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2018-06-02 19:00:00,283.942,284.608,282.026,287.506,286.332,283.15,282.55,280.35,287.35,284.95,284.75,287.15,283.15,287.75,287.75,1024.8,1032.641021,1027.8,1026.4,1025.6,71.8,68.2,79.0,68.6,66.8,2.4,2.0,2.0,2.0,3.000000,260.0,124.8,190.0,176.0,154.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,38.0,36.0,0.0,4.0,328.6,402.4,6490.6,3618.4,261.2,171.800000,1257.6,3386.4,6050.2,58.4,99.6,497.8,311.6,6192.0,31498.8,294.15,289.5975,294.68,294.785,294.9,293.9,288.15,292.15,293.9,294.9,294.4,291.4,296.4,296.15,294.9,1019.25,1019.75,1016.25,1015.5,1017.5,77.5,91.75,51.5,41.0,74.25,2.0,1.5,3.5,4.75,4.0,85.0,235.0,212.5,217.5,67.5,0.0,0.017328,0.017328,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,75.0,25.0,0.0,20.0,284.25,0.0,5409.25,1964.5,253.0,0.25,1300.5,2520.5,6080.0,52.0,98.0,22.5,346.5,9010.5,28695.0
0,2018-06-02 20:00:00,283.044,283.658,280.940,285.784,285.136,282.35,281.95,279.35,285.35,284.15,283.75,285.75,282.15,286.35,286.15,1025.2,1032.641021,1027.8,1026.6,1025.8,74.8,72.8,84.8,77.6,71.4,2.2,2.0,1.8,1.6,2.000000,330.0,94.0,272.6,50.0,256.4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,31.0,36.0,0.0,4.0,330.4,405.0,6597.8,3674.6,260.6,48.400000,1252.4,3232.2,6049.6,56.8,99.6,277.6,311.0,6050.2,31777.6,294.15,289.5975,294.68,294.785,294.9,293.9,288.15,292.15,293.9,294.9,294.4,291.4,296.4,296.15,294.9,1019.25,1019.75,1016.25,1015.5,1017.5,77.5,91.75,51.5,41.0,74.25,2.0,1.5,3.5,4.75,4.0,85.0,235.0,212.5,217.5,67.5,0.0,0.017328,0.017328,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,75.0,25.0,0.0,20.0,284.25,0.0,5409.25,1964.5,253.0,0.25,1300.5,2520.5,6080.0,52.0,98.0,22.5,346.5,9010.5,28695.0
0,2018-06-02 21:00:00,282.342,282.798,280.744,284.500,283.240,281.35,280.55,279.75,283.95,282.55,283.35,285.55,281.75,285.35,283.95,1025.2,1032.641021,1028.0,1027.0,1026.0,74.8,76.4,86.8,78.4,80.0,2.8,1.8,2.0,2.2,2.200000,266.0,144.2,176.0,62.8,274.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,35.0,37.0,0.0,4.0,331.0,405.0,6543.6,3726.0,261.0,9.400000,1250.4,3380.0,6051.4,56.8,99.4,168.2,314.2,5790.4,31822.8,294.15,289.5975,294.68,294.785,294.9,293.9,288.15,292.15,293.9,294.9,294.4,291.4,296.4,296.15,294.9,1019.25,1019.75,1016.25,1015.5,1017.5,77.5,91.75,51.5,41.0,74.25,2.0,1.5,3.5,4.75,4.0,85.0,235.0,212.5,217.5,67.5,0.0,0.017328,0.017328,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,75.0,25.0,0.0,20.0,284.25,0.0,5409.25,1964.5,253.0,0.25,1300.5,2520.5,6080.0,52.0,98.0,22.5,346.5,9010.5,28695.0
0,2018-06-02 22:00:00,281.744,282.198,280.060,283.218,283.440,280.75,279.95,279.55,282.35,282.75,282.75,284.95,280.75,284.55,284.15,1025.2,1032.841021,1028.0,1027.0,1026.4,76.8,78.4,90.6,80.4,79.4,3.6,1.8,1.6,2.0,3.000000,260.0,86.0,134.0,64.4,238.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,30.0,36.0,0.0,4.0,333.2,403.2,6229.6,3734.6,256.6,0.600000,1212.6,2931.4,6052.2,56.8,99.0,143.6,315.8,5621.2,30561.2,294.15,289.5975,294.68,294.785,294.9,293.9,288.15,292.15,293.9,294.9,294.4,291.4,296.4,296.15,294.9,1019.25,1019.75,1016.25,1015.5,1017.5,77.5,91.75,51.5,41.0,74.25,2.0,1.5,3.5,4.75,4.0,85.0,235.0,212.5,217.5,67.5,0.0,0.017328,0.017328,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,75.0,25.0,0.0,20.0,284.25,0.0,5409.25,1964.5,253.0,0.25,1300.5,2520.5,6080.0,52.0,98.0,22.5,346.5,9010.5,28695.0
0,2018-06-02 23:00:00,281.340,281.982,279.336,283.018,282.742,280.15,279.55,278.95,282.15,282.15,282.55,284.95,279.75,284.35,283.35,1025.0,1033.241021,1028.4,1027.0,1026.2,76.8,79.0,94.4,81.0,81.4,4.6,1.8,1.2,2.0,1.894029,328.0,144.2,180.0,102.0,282.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,54.0,36.0,0.0,4.0,329.6,404.8,5947.0,3616.4,256.8,1.000000,1163.6,2422.4,6052.6,56.4,99.4,138.8,315.8,5514.2,28538.4,294.15,289.5975,294.68,294.785,294.9,293.9,288.15,292.15,293.9,294.9,294.4,291.4,296.4,296.15,294.9,1019.25,1019.75,1016.25,1015.5,1017.5,77.5,91.75,51.5,41.0,74.25,2.0,1.5,3.5,4.75,4.0,85.0,235.0,212.5,217.5,67.5,0.0,0.017328,0.017328,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,75.0,25.0,0.0,20.0,284.25,0.0,5409.25,1964.5,253.0,0.25,1300.5,2520.5,6080.0,52.0,98.0,22.5,346.5,9010.5,28695.0

In [5]:
# create_weekly_features(df, dt.datetime(2018,6,1), 3, ['temp_Bilbao'])
create_hourly_features(df, dt.datetime(2018,6,1,23), dt.datetime(2018,6,2,0), 3, ['temp_Bilbao'])

                 time  temp_Bilbao_avg_3h
0 2018-06-01 23:00:00          288.596667

###
**Transformaciones temporales**

In [6]:
# df = add_sin_cos_transforms(df, ["month", "dayofweek", "hour"])
# df.head(3)

## **Modelado predictivo**

El objetivo es predecir las 24 horas de la demanda total de energía con una anticipación de 12,24 y 36 horas según las sesiones intradiarias del mercado eléctrico mayorista.