# **Preparación de datos previa a proceso de modelado**

## **Librerías**

In [1]:
from modeling_auxiliary_functions import (add_sin_cos_transforms, 
                                          prepare_predictor_dataframe, 
                                          add_total_demand,
                                          pivot_from_column_ref
                                 )
import warnings
import pandas as pd
import datetime as dt

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)
warnings.filterwarnings('ignore')

## **Lectura y unificación de información**

### **Lectura**

In [3]:
energy = pd.read_pickle('./clean_datasets/energy_clean_dataset.pkl')
weather = pd.read_pickle('./clean_datasets/weather_clean_dataset.pkl')

### ***Weather***: **Separación de variables por ciudad**

Se requiere utilizar evaluar las variables de las 4 ciudades simultáneamente para cada instante de tiempo. Para ello se realiza un pivot de la información para generar una nueva columna por cada variable y ciudad.

In [4]:
weather = pivot_from_column_ref(weather, index_col="time", new_columns_ref="city_name")
print("Shape:", weather.shape)
weather.head(3)

Shape: (35060, 56)

,time,temp_Barcelona,temp_Bilbao,temp_Madrid,temp_Seville,temp_Valencia,temp_min_Barcelona,temp_min_Bilbao,temp_min_Madrid,temp_min_Seville,temp_min_Valencia,temp_max_Barcelona,temp_max_Bilbao,temp_max_Madrid,temp_max_Seville,temp_max_Valencia,pressure_Barcelona,pressure_Bilbao,pressure_Madrid,pressure_Seville,pressure_Valencia,humidity_Barcelona,humidity_Bilbao,humidity_Madrid,humidity_Seville,humidity_Valencia,wind_speed_Barcelona,wind_speed_Bilbao,wind_speed_Madrid,wind_speed_Seville,wind_speed_Valencia,wind_deg_Barcelona,wind_deg_Bilbao,wind_deg_Madrid,wind_deg_Seville,wind_deg_Valencia,rain_1h_Barcelona,rain_1h_Bilbao,rain_1h_Madrid,rain_1h_Seville,rain_1h_Valencia,rain_3h_Barcelona,rain_3h_Bilbao,rain_3h_Madrid,rain_3h_Seville,rain_3h_Valencia,snow_3h_Barcelona,snow_3h_Bilbao,snow_3h_Madrid,snow_3h_Seville,snow_3h_Valencia,clouds_all_Barcelona,clouds_all_Bilbao,clouds_all_Madrid,clouds_all_Seville,clouds_all_Valencia
0,2015-01-01 00:00:00,281.625,269.657312,267.325000,273.375,270.475,281.625,269.657312,267.325,273.375,270.475,281.625,269.657312,267.325000,273.375,270.475,1035.000000,1070.205106,1070.205106,1070.205106,1001.0,100.0,97.0,63.0,75.0,77.0,7.0,0.0,1.0,1.0,1.0,58.0,226.0,309.0,21.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,281.625,269.763500,267.325000,273.375,270.475,281.625,269.763500,267.325,273.375,270.475,281.625,269.763500,267.325000,273.375,270.475,1035.000000,1035.000000,1070.205106,1070.205106,1001.0,100.0,97.0,63.0,75.0,77.0,7.0,0.0,1.0,1.0,1.0,58.0,229.0,309.0,21.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015-01-01 02:00:00,281.286,269.251688,289.708181,274.086,269.686,281.286,269.251688,266.186,274.086,269.686,281.286,269.251688,291.172867,274.086,269.686,1070.205106,1070.205106,1070.205106,1070.205106,1002.0,100.0,97.0,64.0,71.0,78.0,7.0,1.0,1.0,3.0,0.0,48.0,224.0,273.0,27.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### **Unificación de fuentes de información**

In [5]:
basic_dataset = pd.merge(weather, energy, how="inner", on="time")
print("Shape:", basic_dataset.shape)
basic_dataset.head(3)

Shape: (35013, 71)

,time,temp_Barcelona,temp_Bilbao,temp_Madrid,temp_Seville,temp_Valencia,temp_min_Barcelona,temp_min_Bilbao,temp_min_Madrid,temp_min_Seville,temp_min_Valencia,temp_max_Barcelona,temp_max_Bilbao,temp_max_Madrid,temp_max_Seville,temp_max_Valencia,pressure_Barcelona,pressure_Bilbao,pressure_Madrid,pressure_Seville,pressure_Valencia,humidity_Barcelona,humidity_Bilbao,humidity_Madrid,humidity_Seville,humidity_Valencia,wind_speed_Barcelona,wind_speed_Bilbao,wind_speed_Madrid,wind_speed_Seville,wind_speed_Valencia,wind_deg_Barcelona,wind_deg_Bilbao,wind_deg_Madrid,wind_deg_Seville,wind_deg_Valencia,rain_1h_Barcelona,rain_1h_Bilbao,rain_1h_Madrid,rain_1h_Seville,rain_1h_Valencia,rain_3h_Barcelona,rain_3h_Bilbao,rain_3h_Madrid,rain_3h_Seville,rain_3h_Valencia,snow_3h_Barcelona,snow_3h_Bilbao,snow_3h_Madrid,snow_3h_Seville,snow_3h_Valencia,clouds_all_Barcelona,clouds_all_Bilbao,clouds_all_Madrid,clouds_all_Seville,clouds_all_Valencia,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,generation other,generation other renewable,generation solar,generation waste,generation wind onshore,total load actual
0,2015-01-01 00:00:00,281.625,269.657312,267.325000,273.375,270.475,281.625,269.657312,267.325,273.375,270.475,281.625,269.657312,267.325000,273.375,270.475,1035.000000,1070.205106,1070.205106,1070.205106,1001.0,100.0,97.0,63.0,75.0,77.0,7.0,0.0,1.0,1.0,1.0,58.0,226.0,309.0,21.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,447.0,329.0,4844.0,4821.0,298.33756,863.0,1051.0,1899.0,7096.0,43.0,73.0,49.0,196.0,6378.0,25385.0
1,2015-01-01 01:00:00,281.625,269.763500,267.325000,273.375,270.475,281.625,269.763500,267.325,273.375,270.475,281.625,269.763500,267.325000,273.375,270.475,1035.000000,1035.000000,1070.205106,1070.205106,1001.0,100.0,97.0,63.0,75.0,77.0,7.0,0.0,1.0,1.0,1.0,58.0,229.0,309.0,21.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,449.0,328.0,5196.0,4755.0,298.33756,920.0,1009.0,1658.0,7096.0,43.0,71.0,50.0,195.0,5890.0,24382.0
2,2015-01-01 02:00:00,281.286,269.251688,289.708181,274.086,269.686,281.286,269.251688,266.186,274.086,269.686,281.286,269.251688,291.172867,274.086,269.686,1070.205106,1070.205106,1070.205106,1070.205106,1002.0,100.0,97.0,64.0,71.0,78.0,7.0,1.0,1.0,3.0,0.0,48.0,224.0,273.0,27.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,448.0,323.0,4857.0,4581.0,298.33756,1164.0,973.0,1371.0,7099.0,43.0,73.0,50.0,196.0,5461.0,22734.0

Este dataset contiene todas las variables que debidamente han pasado por procesos de limpieza y calidad de la información. Por lo que será utilizado para la siguiente fase de modelación predictiva.

## **Transformaciones**

###
**Revisiones básicas de formato**

In [6]:
basic_dataset = basic_dataset.sort_values(by='time')
basic_dataset.columns = basic_dataset.columns.str.replace(' ', '_')

In [7]:
basic_dataset.dropna()

,time,temp_Barcelona,temp_Bilbao,temp_Madrid,temp_Seville,temp_Valencia,temp_min_Barcelona,temp_min_Bilbao,temp_min_Madrid,temp_min_Seville,temp_min_Valencia,temp_max_Barcelona,temp_max_Bilbao,temp_max_Madrid,temp_max_Seville,temp_max_Valencia,pressure_Barcelona,pressure_Bilbao,pressure_Madrid,pressure_Seville,pressure_Valencia,humidity_Barcelona,humidity_Bilbao,humidity_Madrid,humidity_Seville,humidity_Valencia,wind_speed_Barcelona,wind_speed_Bilbao,wind_speed_Madrid,wind_speed_Seville,wind_speed_Valencia,wind_deg_Barcelona,wind_deg_Bilbao,wind_deg_Madrid,wind_deg_Seville,wind_deg_Valencia,rain_1h_Barcelona,rain_1h_Bilbao,rain_1h_Madrid,rain_1h_Seville,rain_1h_Valencia,rain_3h_Barcelona,rain_3h_Bilbao,rain_3h_Madrid,rain_3h_Seville,rain_3h_Valencia,snow_3h_Barcelona,snow_3h_Bilbao,snow_3h_Madrid,snow_3h_Seville,snow_3h_Valencia,clouds_all_Barcelona,clouds_all_Bilbao,clouds_all_Madrid,clouds_all_Seville,clouds_all_Valencia,generation_biomass,generation_fossil_brown_coal/lignite,generation_fossil_gas,generation_fossil_hard_coal,generation_fossil_oil,generation_hydro_pumped_storage_consumption,generation_hydro_run-of-river_and_poundage,generation_hydro_water_reservoir,generation_nuclear,generation_other,generation_other_renewable,generation_solar,generation_waste,generation_wind_onshore,total_load_actual
0,2015-01-01 00:00:00,281.625,269.657312,267.325000,273.375,270.475,281.625,269.657312,267.325,273.375,270.475,281.625,269.657312,267.325000,273.375,270.475,1035.000000,1070.205106,1070.205106,1070.205106,1001.0,100.0,97.0,63.0,75.0,77.0,7.0,0.0,1.0,1.0,1.0,58.0,226.0,309.0,21.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,447.0,329.0,4844.0,4821.0,298.33756,863.000000,1051.0,1899.0,7096.0,43.0,73.0,49.0,196.0,6378.0,25385.0
1,2015-01-01 01:00:00,281.625,269.763500,267.325000,273.375,270.475,281.625,269.763500,267.325,273.375,270.475,281.625,269.763500,267.325000,273.375,270.475,1035.000000,1035.000000,1070.205106,1070.205106,1001.0,100.0,97.0,63.0,75.0,77.0,7.0,0.0,1.0,1.0,1.0,58.0,229.0,309.0,21.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,449.0,328.0,5196.0,4755.0,298.33756,920.000000,1009.0,1658.0,7096.0,43.0,71.0,50.0,195.0,5890.0,24382.0
2,2015-01-01 02:00:00,281.286,269.251688,289.708181,274.086,269.686,281.286,269.251688,266.186,274.086,269.686,281.286,269.251688,291.172867,274.086,269.686,1070.205106,1070.205106,1070.205106,1070.205106,1002.0,100.0,97.0,64.0,71.0,78.0,7.0,1.0,1.0,3.0,0.0,48.0,224.0,273.0,27.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,448.0,323.0,4857.0,4581.0,298.33756,1164.000000,973.0,1371.0,7099.0,43.0,73.0,50.0,196.0,5461.0,22734.0
3,2015-01-01 03:00:00,281.286,269.203344,289.708181,274.086,269.686,281.286,269.203344,266.186,274.086,269.686,281.286,269.203344,291.172867,274.086,269.686,1070.205106,1035.000000,1070.205106,1070.205106,1002.0,100.0,97.0,64.0,71.0,78.0,7.0,1.0,1.0,3.0,0.0,48.0,225.0,273.0,27.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,438.0,254.0,4314.0,4131.0,298.33756,1503.000000,949.0,779.0,7098.0,43.0,75.0,50.0,191.0,5238.0,21286.0
4,2015-01-01 04:00:00,281.286,269.485500,289.708181,274.086,269.686,281.286,269.485500,266.186,274.086,269.686,281.286,269.485500,291.172867,274.086,269.686,1070.205106,1035.000000,1070.205106,1070.205106,1002.0,100.0,97.0,64.0,71.0,78.0,7.0,1.0,1.0,3.0,0.0,48.0,221.0,273.0,27.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,428.0,187.0,4130.0,3840.0,298.33756,475.571302,953.0,720.0,7097.0,43.0,74.0,42.0,189.0,4935.0,20264.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35008,2018-12-31 19:00:00,284.130,281.260000,283.560000,287.760,285.640,282.150,280.150000,282.150,287.150,285.150,286.150,282.150000,285.150000,288.150,286.150,1027.000000,1033.000000,1030.000000,1028.000000,1028.0,71.0,93.0,88.0,54.0,62.0,1.0,0.0,1.0,3.0,2.0,250.0,57.0,280.0,30.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,297.0,0.0,7634.0,2628.0,178.00000,1.000000,1135.0,4836.0,6073.0,63.0,95.0,85.0,277.0,3113.0,30653.0
35009,2018-12-31 20:00:00,282.640,279.810000,280.120000,285.760,283.140,281.150,278.150000,278.150,285.150,282.150,284.150,281.150000,281.150000,286.150,284.150,1027.000000,1034.000000,1031.000000,1029.000000,1029.0,62.0,93.0,52.0,62.0,71.0,3.0,1.0,1.0,3.0,1.0,270.0,0.0,260.0,30.0,242.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,296.0,0.0,7241.0,2566.0,174.00000,1.000000,1172.0,3931.0,6074.0,62.0,95.0,33.0,280.0,3288.0,29735.0
35010,2018-12-31 21:00:00,282.140,277.150000,278.150000,285.150,281.660,280.150,277.150000,278.150,285.150,281.150,284.150,277.150000,278.150000,285.150,282.150,1028.000000,1034.000000,1030.000000,1028.000000,1029.0,53.0,100.0,65.0,58.0,81.0,4.0,1.0,1.0,4.0,3.0,300.0,140.0,340.0,50.0,300.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,292.0,0.0,7025.0,2422.0,168.00000,50.000000,1148.0,2831.0,6076.0,61.0,94.0,31.0,286.0,3503.0,28071.0
35011,2018-12-31 22:00:00,281.130,276.600000,276.570000,284.150,280.140,278.150,276.150000,276.150,284.150,279.150,284.150,277.150000,277.150000,284.150,281.150,1028.000000,1034.000000,1031.000000,1029.000000,1029.0,50.0,93.0,69.0,57.0,81.0,5.0,1.0,2.0,4.0,2.0,320.0,120.0,340.0,60.0,310.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,293.0,0.0,6562.0,2293.0,163.00000,108.000000,1128.0,2068.0,6075.0,61.0,93.0,31.0,287.0,3586.0,25801.0
35012,2018-12-31 23:00:00,280.130,275.600000,275.150000,283.970,279.140,277.150,275.150000,275.150,282.150,278.150,283.150,276.150000,275.150000,285.150,280.150,1028.000000,1034.000000,1031.000000,1029.000000,1029.0,100.0,93.0,74.0,70.0,75.0,5.0,2.0,1.0,3.0,2.0,310.0,100.0,360.0,50.0,300.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,290.0,0.0,6926.0,2166.0,163.00000,108.000000,1069.0,1686.0,6075.0,61.0,92.0,31.0,287.0,3651.0,24455.0

###
**Transformaciones para información disponible para predicciones según escenarios**

In [8]:
market_offer_dataset = prepare_predictor_dataframe(basic_dataset, dt.datetime(2015,1,2,0), dt.datetime(2018,12,30,0), "market_offer", 4, 4)
market_offer_dataset = add_sin_cos_transforms(market_offer_dataset, ["month", "dayofweek", "hour"])
market_offer_dataset.to_pickle('./modeling_datasets/market_offer_dataset.pkl')

100%|██████████| 1459/1459 [20:18<00:00,  1.20it/s]

In [9]:
first_session_dataset = prepare_predictor_dataframe(basic_dataset, dt.datetime(2015,1,2,0), dt.datetime(2018,12,30,0), "first_session", 4, 4)
first_session_dataset = add_sin_cos_transforms(first_session_dataset, ["month", "dayofweek", "hour"])
first_session_dataset.to_pickle('./modeling_datasets/first_session_dataset.pkl')

  7%|▋         | 102/1459 [00:48<10:45,  2.10it/s]

KeyboardInterrupt:

In [ ]:
last_session_dataset = prepare_predictor_dataframe(basic_dataset, dt.datetime(2015,1,2,0), dt.datetime(2018,12,30,0), "last_session", 4, 4)
last_session_dataset = add_sin_cos_transforms(last_session_dataset, ["month", "dayofweek", "hour"])
last_session_dataset.to_pickle('./modeling_datasets/last_session_dataset.pkl')

  1%|          | 11/1459 [00:02<05:34,  4.33it/s]

KeyboardInterrupt:

## **Modelado predictivo**

El objetivo es predecir las 24 horas de la demanda total de energía con una anticipación de 12,24 y 36 horas según las sesiones intradiarias del mercado eléctrico mayorista.

In [10]:
def split_train_test_date(data, target_col, sep_date):
    data = data[~data[target_col].isna()]

    train_data = X_train = data[data["time"] < sep_date]
    test_data = data[data["time"] >= sep_date]

    X_train = train_data.drop([target_col, "time"], axis=1)
    y_train = train_data[target_col].values

    X_test = test_data.drop([target_col, "time"], axis=1)
    y_test = test_data[target_col].values

    return X_train, y_train, X_test, y_test

In [14]:
market_offer_dataset = pd.read_pickle('./modeling_datasets/market_offer_dataset.pkl')
market_offer_dataset = add_total_demand(market_offer_dataset, basic_dataset)
X_train, y_train, X_test, y_test = split_train_test_date(market_offer_dataset, "total_load_actual", dt.datetime(2018,1,1,0))

In [15]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.svm import SVR

def train_best_model(X_train, y_train, model_name):
    if model_name == "randomForest":
        model = RandomForestRegressor()
        param_grid = {
            'n_estimators': [100, 200, 300],
            'max_depth': [None, 10, 20, 30],
            'min_samples_split': [2, 5, 10],
            'min_samples_leaf': [1, 2, 4]
        }
    elif model_name == "XGBoost":
        model = XGBRegressor(objective='reg:squarederror')
        param_grid = {
            'n_estimators': [100, 200, 300],
            'max_depth': [3, 6, 9],
            'learning_rate': [0.01, 0.1, 0.2],
            'subsample': [0.8, 1.0]
        }
    elif model_name == "SVM":
        model = SVR()
        param_grid = {
            'C': [0.1, 1, 10],
            'kernel': ['linear', 'rbf'],
            'gamma': ['scale', 'auto']
        }
    else:
        raise ValueError("Model name must be 'randomForest', 'XGBoost', or 'SVM'.")

    grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=5, n_jobs=-1, scoring='neg_mean_squared_error')
    grid_search.fit(X_train, y_train)

    best_model = grid_search.best_estimator_
    return best_model

In [16]:
train_best_model(X_train, y_train, "randomForest")

KeyboardInterrupt: